<a href="https://colab.research.google.com/github/hanishaa1303/Data-Analytics-Projects-IS2/blob/main/project1/collab/Flipkard_Big_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install dask

Requirement already satisfied: dask in /usr/local/lib/python3.12/dist-packages (2025.12.0)
Requirement already satisfied: click>=8.1 in /usr/local/lib/python3.12/dist-packages (from dask) (8.3.1)
Requirement already satisfied: cloudpickle>=3.0.0 in /usr/local/lib/python3.12/dist-packages (from dask) (3.1.2)
Requirement already satisfied: fsspec>=2021.09.0 in /usr/local/lib/python3.12/dist-packages (from dask) (2025.3.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from dask) (25.0)
Requirement already satisfied: partd>=1.4.0 in /usr/local/lib/python3.12/dist-packages (from dask) (1.4.2)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.12/dist-packages (from dask) (6.0.3)
Requirement already satisfied: toolz>=0.12.0 in /usr/local/lib/python3.12/dist-packages (from dask) (0.12.1)
Requirement already satisfied: locket in /usr/local/lib/python3.12/dist-packages (from partd>=1.4.0->dask) (1.0.0)

In [ ]:
import dask.dataframe as dd

In [ ]:
df=dd.read_csv('/content/flipkard.csv')
df

Dask DataFrame Structure:
              product_id product_name category   brand  seller seller_city    price discount_percent final_price   rating review_count stock_available units_sold listing_date delivery_days weight_g warranty_months   color    size return_policy_days is_returnable payment_modes shipping_weight_g product_score seller_rating
npartitions=1
                  string       string   string  string  string      string  float64            int64     float64  float64        int64           int64      int64       string         int64  float64           int64  string  string              int64          bool        string           float64       float64       float64
                     ...          ...      ...     ...     ...         ...      ...              ...         ...      ...          ...             ...        ...          ...           ...      ...             ...     ...     ...                ...           ...           ...               ...           ...           ...
Dask Name: to_string_dtype, 2 expressions
Expr=ArrowStringConversion(frame=FromMapProjectable(37a2507))

In [ ]:
df.head()

,product_id,product_name,category,brand,seller,seller_city,price,discount_percent,final_price,rating,...,weight_g,warranty_months,color,size,return_policy_days,is_returnable,payment_modes,shipping_weight_g,product_score,seller_rating
0,FKP0000001,Adidas Ultra 664,Toys,Adidas,MegaStore,Hyderabad,35547.34,15,30215.24,1.9,...,3038.23,36,Green,XL,30,True,"COD,CARD",3483.592454,6.78,3.28
1,FKP0000002,LG Series 124,Fashion,LG,ValueKart,Mumbai,30693.79,10,27624.41,3.2,...,1921.82,0,Grey,One Size,7,True,"UPI,CARD",2091.473835,50.78,3.42
2,FKP0000003,Redmi Model 35,Beauty,Redmi,SmartDeals,Ahmedabad,51214.50,40,30728.70,4.4,...,1143.49,12,Black,M,0,False,"COD,UPI,CARD",1242.770494,4.24,4.23
3,FKP0000004,Sony Edition 769,Toys,Sony,UrbanRetails,Delhi,33168.49,30,23217.94,2.8,...,3644.81,24,Black,L,0,False,"CARD,Wallet",3891.222716,1.38,3.45
4,FKP0000005,Boat Prime 291,Home & Kitchen,Boat,RetailHub,Pune,14181.34,0,14181.34,3.7,...,310.33,0,Blue,<NA>,30,True,"CARD,Wallet",386.061014,79.27,4.90

In [ ]:
df.columns

Index(['product_id', 'product_name', 'category', 'brand', 'seller',
       'seller_city', 'price', 'discount_percent', 'final_price', 'rating',
       'review_count', 'stock_available', 'units_sold', 'listing_date',
       'delivery_days', 'weight_g', 'warranty_months', 'color', 'size',
       'return_policy_days', 'is_returnable', 'payment_modes',
       'shipping_weight_g', 'product_score', 'seller_rating'],
      dtype='object')

In [ ]:
df.describe()

Dask DataFrame Structure:
                 price discount_percent final_price   rating review_count stock_available units_sold delivery_days weight_g warranty_months return_policy_days shipping_weight_g product_score seller_rating
npartitions=1
               float64          float64     float64  float64      float64         float64    float64       float64  float64         float64            float64           float64       float64       float64
                   ...              ...         ...      ...          ...             ...        ...           ...      ...             ...                ...               ...           ...           ...
Dask Name: concat, 31 expressions
Expr=Concat(frames=[ArrowStringConversion(frame=FromMapProjectable(37a2507))['price'].describenumeric(split_every=False), ArrowStringConversion(frame=FromMapProjectable(37a2507))['discount_percent'].describenumeric(split_every=False), ArrowStringConversion(frame=FromMapProjectable(37a2507))['final_price'].describenumeric(split_every=False), ArrowStringConversion(frame=FromMapProjectable(37a2507))['rating'].describenumeric(split_every=False), ArrowStringConversion(frame=FromMapProjectable(37a2507))['review_count'].describenumeric(split_every=False), ArrowStringConversion(frame=FromMapProjectable(37a2507))['stock_available'].describenumeric(split_every=False), ArrowStringConversion(frame=FromMapProjectable(37a2507))['units_sold'].describenumeric(split_every=False), ArrowStringConversion(frame=FromMapProjectable(37a2507))['delivery_days'].describenumeric(split_every=False), ArrowStringConversion(frame=FromMapProjectable(37a2507))['weight_g'].describenumeric(split_every=False), ArrowStringConversion(frame=FromMapProjectable(37a2507))['warranty_months'].describenumeric(split_every=False), ArrowStringConversion(frame=FromMapProjectable(37a2507))['return_policy_days'].describenumeric(split_every=False), ArrowStringConversion(frame=FromMapProjectable(37a2507))['shipping_weight_g'].describenumeric(split_every=False), ArrowStringConversion(frame=FromMapProjectable(37a2507))['product_score'].describenumeric(split_every=False), ArrowStringConversion(frame=FromMapProjectable(37a2507))['seller_rating'].describenumeric(split_every=False)], axis=1)

In [ ]:
df.isnull()

Dask DataFrame Structure:
              product_id product_name category brand seller seller_city price discount_percent final_price rating review_count stock_available units_sold listing_date delivery_days weight_g warranty_months color  size return_policy_days is_returnable payment_modes shipping_weight_g product_score seller_rating
npartitions=1
                    bool         bool     bool  bool   bool        bool  bool             bool        bool   bool         bool            bool       bool         bool          bool     bool            bool  bool  bool               bool          bool          bool              bool          bool          bool
                     ...          ...      ...   ...    ...         ...   ...              ...         ...    ...          ...             ...        ...          ...           ...      ...             ...   ...   ...                ...           ...           ...               ...           ...           ...
Dask Name: inv, 4 expressions
Expr=~ NotNull(frame=ArrowStringConversion(frame=FromMapProjectable(37a2507)))

In [ ]:
df.dtypes

product_id            string[pyarrow]
product_name          string[pyarrow]
category              string[pyarrow]
brand                 string[pyarrow]
seller                string[pyarrow]
seller_city           string[pyarrow]
price                         float64
discount_percent                int64
final_price                   float64
rating                        float64
review_count                    int64
stock_available                 int64
units_sold                      int64
listing_date          string[pyarrow]
delivery_days                   int64
weight_g                      float64
warranty_months                 int64
color                 string[pyarrow]
size                  string[pyarrow]
return_policy_days              int64
is_returnable                    bool
payment_modes         string[pyarrow]
shipping_weight_g             float64
product_score                 float64
seller_rating                 float64
dtype: object

In [ ]:
df.npartitions

1

In [ ]:
df.shape

(<dask_expr.expr.Scalar: expr=ArrowStringConversion(frame=FromMapProjectable(37a2507)).size() // 25, dtype=int64>,
 25)

In [ ]:
df.shape[0].compute()

80000

In [ ]:
df.isnull().sum().compute()

product_id                0
product_name              0
category                  0
brand                     0
seller                    0
seller_city               0
price                     0
discount_percent          0
final_price               0
rating                    0
review_count              0
stock_available           0
units_sold                0
listing_date              0
delivery_days             0
weight_g                  0
warranty_months           0
color                     0
size                  13484
return_policy_days        0
is_returnable             0
payment_modes             0
shipping_weight_g         0
product_score             0
seller_rating             0
dtype: int64

In [ ]:
df["rating"].mean().compute()

np.float64(2.99967125)

In [ ]:
df.groupby("product_name").size().compute()

product_name
Adidas Edition 100     2
Adidas Edition 101     5
Adidas Edition 103     1
Adidas Edition 104     1
Adidas Edition 105     2
                      ..
Whirlpool Ultra 994    1
Whirlpool Ultra 995    2
Whirlpool Ultra 996    4
Whirlpool Ultra 997    2
Whirlpool Ultra 998    2
Length: 48801, dtype: int64

In [ ]:
df.groupby("product_score")["rating"].mean().compute()

product_score
1.00      2.850000
1.01      2.200000
1.02      2.944444
1.03      2.937500
1.04      2.833333
            ...
99.96     2.366667
99.97     3.840000
99.98     3.300000
99.99     2.440000
100.00    2.300000
Name: rating, Length: 9895, dtype: float64

In [ ]:
df["rating"].value_counts().compute()

rating
1.0    1005
1.1    2106
1.2    2012
1.3    1976
1.4    1966
1.5    2025
1.6    2031
1.7    1899
1.8    1980
1.9    1947
2.0    1971
2.1    2009
2.2    2062
2.3    2017
2.4    1996
2.5    2041
2.6    1970
2.7    1977
2.8    1977
2.9    1956
3.0    2038
3.1    2010
3.2    2007
3.3    2006
3.4    1998
3.5    2013
3.6    1980
3.7    2028
3.8    1975
3.9    2024
4.0    1984
4.1    1996
4.2    2013
4.3    2067
4.4    1933
4.5    2006
4.6    2006
4.7    1988
4.8    2032
4.9    1998
5.0     975
Name: count, dtype: int64

In [ ]:
result = df.groupby("product_name")["rating"].mean().compute()
result.head()

product_name
Adidas Edition 100    4.55
Adidas Edition 101    3.22
Adidas Edition 103    1.10
Adidas Edition 104    4.30
Adidas Edition 105    2.95
Name: rating, dtype: float64